<!--<div class="container">-->
    
        
            <!--<div class="row" style="padding: 10px; border: solid 2px rgba(224, 224, 224, 0.33); margin-right: -10px;">-->
                
                    
                <!--</div>-->
                
                    
                
            <!--</div>-->
        
    
<!--</div>-->
<div class="container" >
    <div class="col-md-10" style="padding: 10px; border: solid 2px rgba(224, 224, 224, 0.33); margin-right: -10px;" >
        <div class="col-xs-12" align="center" >
            <div class="article" align="center" *ngFor="let article of DetailComponent">
                 <h4 style="text-align:center">{{article.title}} </h4>
                <h5 style="font-size:12px; text-align:center">{{article.media_displayName}}, {{article.timestamp}}</h5>
                <img src="{{article.image}}" width="75%;" height="75%" style="margin-bottom: 10px;">
                <br><p align="justify">
                {{article.content}}
                
                </p>
                <!--</article>-->
            </div>
        </div>
    </div>
</div>