.img-news img{
    float:left;
    padding-right: 10px;
    height:250px;
    width:250px;
}

.article {
    -webkit-columns: 2 150px;
       -moz-columns: 2 150px;
            columns: 2 150px;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {
  font-size: 1.777em;
  -webkit-column-span: all; 
  column-span: all; 
}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}